[submodule "third_party/toml++"]
	path = third_party/toml++
	url = https://github.com/marzer/tomlplusplus.git
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
